---
import Card from "../ui/Card.astro";
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
   <div class="mt-20">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Email: triasiaglobal@gmail.com"
    />
  </div>
    <!-- <Form /> -->
  </div>
</Section>
